
@media screen and (max-width: 375px) {
  .main {
    & h1 {
      margin: 0px 0px 30px -80px
    }
    & section {
      justify-content: space-around;
  
      & .client {
        margin: 20px 0px 0px 0px;
      }
  
      & .volunteer {
        margin-top: 50px;
        margin-right: 20px;
      }
    }
  }
}