.main {
    margin: 100px;
    height: auto;
  & h1 {
    font-size: 6em;
    margin: 0;
  }

  & p {
    font-size: 2em;
    margin: 2px;
  }

  & section {
    justify-content: space-around;

    & button {
      color: white;
      background-color: darkblue;
      border-radius: 5px;
      font-size: 2em;
      width: 175px;
      font-family: "Quicksand", sans-serif;
      border: 2px solid white;
    }

    & button:hover {
      border: 2px solid darkblue;
      color: darkblue;
      background-color: white;
    }

    & .client {
      margin-left: 20px;
      margin-top: 100px;
    }

    & .volunteer {
      margin-top: 100px;
      margin-right: 20px;
    }
  }
}
@media screen and (max-width: 375px) {
  .main {
    & h1 {
      margin: 0px 0px 30px -80px
    }
    & section {
      justify-content: space-around;
  
      & .client {
        margin: 20px 0px 0px 0px;
      }
  
      & .volunteer {
        margin-top: 50px;
        margin-right: 20px;
      }
    }
  }
}

@media all and (display-mode: standalone) {
  .main {
    & h1 {
      margin: 0px 0px 30px -80px
    }
    & section {
      justify-content: space-around;
  
      & .client {
        margin: 20px 0px 0px 0px;
      }
  
      & .volunteer {
        margin-top: 50px;
        margin-right: 20px;
      }
    }
  }
}