* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  margin: 100px;
  font-family: 'Quicksand', sans-serif;
  color: darkblue;

  & h1{
    font-size: 6em;
    margin:0;
  }
  
  & p {
    font-size:2em;
    margin: 2px;
  }

  & section {
    margin: 10px;
    justify-content: space-around;


    & button {
      color: white;
      background-color: darkblue;
      border-radius: 5px;
      font-size: 2em;
      width: 175px;
      font-family: 'Quicksand', sans-serif;
    }

    & .client {
      margin-left: 20px;

    }

    & .volunteer {
      margin-right: 20px;
    }
  }

}

