* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: aliceblue;
  font-family: 'Nunito Sans', sans-serif;
  color: #37474E;


  & section {
    justify-content: space-around;
  }
}
