.SignInForm {
  height: auto;
  background-color: white;
  justify-content: center;

  & .modal {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & .container {
    width: 100%;

    & .titles {
      display: flex;
    }

    & .forms {
      display: flex;
    }
  }

  & .sign-in {
    border-right: 1px solid darkblue;
  }

  & .sign-in,
  .sign-up {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;

    & h1 {
      display: flex;
      align-content: flex-start;
    }

    & form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      & input,
      button {
        display: block;
        width: 175px;
        margin-bottom: 10px;
      }

      & button {
        border: 2px solid white;
      }
      & button:hover {
        border: 2px solid darkblue;
        color: darkblue;
        background-color: white;
      }

      & input {
        border-radius: 5px;
        font-size: 1em;
        height: 2em;
        border: 1px solid darkgrey;
        padding: 5px
        // border-style: solid;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  #sign-in-header {
    font-size: 3rem;
    padding: 0px 5px;
    margin-bottom: 20px;
  }
  .SignInForm{
    & .container {

      & .forms {
        display: block;
        margin: 0px 50%;
      }
  }

    & .sign-in {
      border-right: none;
      
      & form {
        border-bottom: 2px solid darkblue;
        padding-bottom: 30px;
        margin-top: 20px;
        

        & button {
          margin-top: 10px
        }
      }
    }
}

  #sign-up-header {
    display: none;
  }
}


@media screen and (display-mode: standalone) {
  #sign-in-header {
    font-size: 3rem;
    padding: 0px 5px;
    margin-bottom: 20px;
  }
  .SignInForm{
    & .container {

      & .forms {
        display: block;
        margin: 0px 50%;
      }
  }

    & .sign-in {
      border-right: none;
      
      & form {
        border-bottom: 2px solid darkblue;
        padding-bottom: 30px;
        margin-top: 20px;
        

        & button {
          margin-top: 10px
        }
      }
    }
}

  #sign-up-header {
    display: none;
  }
}
