
@media screen and (max-width: 375px) {
  #sign-in-header {
    font-size: 3rem;
    padding: 0px 5px;
    margin-bottom: 20px;
  }
  .SignInForm{
    & .container {

      & .forms {
        display: block;
        margin: 0px 50%;
      }
  }

    & .sign-in {
      border-right: none;
      
      & form {
        border-bottom: 2px solid darkblue;
        padding-bottom: 30px;
        margin-top: 20px;
        

        & button {
          margin-top: 10px
        }
      }
    }
}

  #sign-up-header {
    display: none;
  }
}
