
@media screen and (max-width: 375px) {
  .nav {
    & .nav-link {
      display: none;
    }

    & .links {
      & .dash-link {
        font-size: 1em;
        margin-top: 2.5em;
        padding: 5px;
      }
    }
  }
}

@media screen and (display-mode: standalone) {
  .nav {
    & .nav-link {
      display: none;
    }

    & .links {
      & .dash-link {
        font-size: 1em;
        margin-top: 2.5em;
        padding: 5px;
      }
    }
  }
}